$grid-gap: 8px;
$defaultBorderRadius: 4px;
$maxWidthContent: 1200px;

/*** COLORS ***/
$colorPrimary: #6ebffb;
$colorWhite: #ffffff;
$colorHeader: #363636;
$colorSidebar: #efefef;
$colorBackground: #f8f4f4;